# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# sbt
target

# qmake
build-*

# python
.mypy_cache
.hypothesis
.cache
__pycache__
